
*, *::before, *::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-weight: normal;
  text-align: left;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header a,
footer a {
  color: #ffffff;
}

.main-header {
  width: 100%;

  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  color: #ffffff;
}

.logo-interactive-background {
  width: 100%;

  background-color: #293449;
}

.logo-interactive {
  position: relative;

  width: 1200px;
  margin: 0 auto;
}

.logo-container {
  left: 130px;
  z-index: 1;

  width: 220px;
  padding-bottom: 5px;

  background-color: #ee3643;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo {
  position: absolute;

  height: 47px;

  background-size: 109px 19px;
  background-image: url("../img/logo-header.svg");
}

.footer-logo {
  position: absolute;

  height: 68px;

  background-size: 138px 23px;
  background-image: url("../img/logo-footer.svg");
}

.logo-container:hover,
.logo-container:focus {
  background-color: #ca2c37;
}

.logo-container:active {
  background-color: #ba2732;
}

.header-interactive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  min-height: 42px;
  margin: 0 130px;
  padding-left: 220px;

  line-height: 18px;

  list-style: none;
}

.header-interactive li {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 42px;
}

.header-interactive div {
  position: absolute;
  z-index: 0;

  width: 100%;
  height: 100%;

  background-color: inherit;
}

.header-interactive a {
  z-index: 1;
}

.search {
  position: relative;

  justify-self: left;
  width: 270px;
  padding-left: 50px;

  border: none;
}

.search div {
  left: 0;
}

.search .loupe {
  position: absolute;
  left: 0;
  z-index: 1;

  width: 50px;
  height: 42px;
  margin: 0;
  padding: 0;

  background-color: inherit;
  border: none;
  opacity: 0.3;
}

.search input[type="search"] {
  z-index: 1;

  width: 221px;

  vertical-align: middle;
  color: #ffffff;

  background-color: inherit;
  border: none;
  opacity: 1;

  -webkit-appearance: none;
  outline: none;
}

.search input[type="search"]:hover + .loupe {
  opacity: 1;
}

.search input[type="search"]:focus,
.search input[type="search"]:active {
  height: 100%;

  color: #000000;

  background-color: #ffffff;
}

.search input[type="search"]:focus + button.loupe {
  background-color: #ffffff;
  opacity: 1;
}

.search input[type="search"]:focus + button.loupe path {
  background-color: #ffffff;
  fill: #ee3643;
  opacity: 1;
}

.search input[type="search"]:focus:hover + button.loupe path {
  background-color: #ffffff;
}

.search input[type="search"]::placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type="search"]::-moz-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type="search"]::-ms-input-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type="search"]:-ms-input-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type="search"]:-moz-placeholder {
  color: #ffffff;

  opacity: 1;
}

input[type=text]::-ms-clear {
  display: none;
  width : 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.bookmarks a::before,
.basket a::before {
  content: "";

  position: relative;

  display: inline-block;

  vertical-align: text-top;

  background-repeat: no-repeat;
  opacity: 0.3;

  transform: translateY(10%);
}

.bookmarks a::before {
  width: 14px;
  height: 16px;
  margin-right: 13px;

  background-image: url("../img/icon-bookmark.svg");
}

.basket a::before {
  width: 15px;
  height: 15px;
  margin-right: 17px;

  background-image: url("../img/icon-cart.svg");
}

.header-interactive a:hover::before,
.header-interactive a:focus::before {
  opacity: 1;
}

.bookmarks a:active,
.basket a:active {
  opacity: 0.6;
}

.header-interactive a:active::before {
  opacity: 0.8;
}

.order {
  background-color: #63a63e;
}

.search input:hover ~ div,
.bookmarks a:hover + div,
.bookmarks a:focus + div,
.basket a:hover + div,
.basket a:focus + div {
  background-color: #212a3a;
}

.order a:hover ~ div,
.order a:focus ~ div {
  background-color: #5fbb2d;
}

.bookmarks a:active + div,
.basket a:active + div {
  background-color: #161d29;
  opacity: 0.6;
}

.order a:active + div {
  background-color: #518534;
  opacity: 0.5;
}

.header-contacts-background {
  width: 100%;

  background-color: #f4f7f9;
}

.header-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1200px;
  min-height: 278px;
  margin: 0 auto;
  padding: 46px 130px 0;
}

.header-contacts .description {
  margin: 8px 0 0 53px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.phone-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 71px;
}

p.phone-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 45px;
  margin: 0;
  margin-bottom: 10px;

  font-size: 21px;
  line-height: 21px;
  color: #e9292a;

  border: solid 3px #ffffff;
}

.phone-number::before {
  content: "";

  position: relative;

  width: 19px;
  height: 19px;
  margin-right: 40px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.header-login {
  display: flex;
  margin: 0;
  margin-left: 68px;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #000000;

  list-style: none;
}

.user-buttons {
  height: 45px;

  background-color: #ffffff;
  border: none;
}

.header-login .login-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 121px;
  margin-right: 10px;
  padding-right: 27px;
}

.header-login .check-in-button {
  width: 150px;
}

.login-button svg {
  width: 20px;
  height: 17px;
  margin-right: 14px;
}

.login-button:hover,
.login-button:focus,
.check-in-button:hover,
.check-in-button:focus{
  color: #ee3643;
}

.login-button:hover path,
.login-button:focus path {
  fill: #000000;
}

.login-button:active,
.check-in-button:active{
  color: #000000;

  opacity: 0.3;
}

.login-button:active path {
  fill: #c5c5c5;
}

.checked-in-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 299px;
  height: 45px;
  padding: 0;
  margin: 0;
  margin-left: 50px;

  background-color: #ffffff;

  list-style: none;
}

.checked-in-user a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.avatar svg {
  width: 20px;
  height: 18px;
  margin-left: 13px;
  margin-right: 14px;
}

.exit svg {
  width: 20px;
  height: 17px;
  margin-left: 39px;
}

.avatar svg:hover path,
.avatar a:focus path,
.exit svg:hover path,
.exit a:focus path{
  fill: #32425c;
}

.avatar svg:active path,
.exit svg:active path {
  fill: #c5c5c5;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.checked-in-user-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 0 67px;
  padding: 0;
  list-style: none;
}

.checked-in-user-links a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.separator {
  width: 5px;
  height: 5px;
  margin: 10px 14px;

  background-color: #32425c;
  border: none;
  border-radius: 50%;
}

.user-name:active {
  opacity: 0.3;
}

.my-orders:hover,
.my-orders:focus,
.personal-area:hover,
.personal-area:focus {
  color: #ee3643;
}

.my-orders:active,
.personal-area:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-navigation {
  align-self: flex-end;
  margin: 0 auto;
  margin-bottom: 60px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  padding: 0 25px 0 22px;

  box-shadow: inset 0 -5px 0 0 #293449;
  background-color: #32425c;

  list-style: none;
}

.site-navigation li {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 30px;
}

.site-navigation a {
  z-index: 2;
}

.site-navigation a:before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
}

.site-navigation a:hover::before,
.site-navigation a:focus:before {
  background-color: #293449;
}

.site-navigation a:active {
  opacity: 0.5;
}

.site-navigation a:active:before {
  background-color: #1d2739;
  opacity: 1;
}

.limiter {
  position: relative;

  width: 940px;
  margin: 0 auto;
}

.promo-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 59px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);

  border: 0;

  overflow: hidden;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sections li {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
  margin-left: 20px;

  background-repeat: no-repeat;
  background-position: 194px center;
}

.sections li:nth-child(1) {
  margin-left: 0;
}

.sections li:nth-child(4),
.sections li:nth-child(5) {
  margin-left: 640px;
}

.sections h3 {
  margin-bottom: 0;
  margin-left: 23px;

  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.sections a {
  position: absolute;
  top: 63px;
  right: 140px;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 38px;
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.sections .materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-position: 210px center;
  background-size: 44px 65px;
}

.sections .tool {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-size: 75px 61px;
}

.sections .equipment {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-size: 78px 62px;
}

.sections .special-offers {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-size: 59px 72px;
}

.sections .delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-size: 78px 63px;
}

.slider {
  position: absolute;
  left: 0;
  top: 143px;
}

.slider .slider-container {
  position: relative;

  width: 620px;

  background-color: #999999;
}

.slider-arrows {
  position: absolute;
  top: 113px;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  width: 575px;
  height: 40px;
  margin-left: 25px;

  font-size: 0;
}

.slider-arrow-left {
  position: relative;

  display: inline-block;
  width: 22px;
  height: 40px;

  vertical-align: middle;

  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.slider-arrow-right {
  position: relative;

  display: inline-block;
  width: 22px;
  height: 40px;

  vertical-align: middle;

  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.slider .slider-controls {
  position: absolute;
  left: 50%;
  bottom: 39px;
  z-index: 5;

  width: 40px;
  height: 30px;

  text-align: center;
  font-size: 0;

  transform: translateX(-50%);
}

.slider .slider-controls label {
  position: relative;

  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 15px 10px;

  vertical-align: top;

  border-radius: 50%;

  cursor: pointer;
}

.slider .slider-controls label::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background: #ffffff;
  border-radius: 50%;
}

.slider .slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider .slider-item {
  position: relative;

  display: none;
  height: 266px;
  padding: 25px;
  padding-right: 20px;
}

.slider .slider-item:nth-child(1) {
  background-image: url("../img/slide-image-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slider .slider-item:nth-child(2) {
  background-size: contain;
  background-image: url("../img/slide-image-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slider #product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

.slider #product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.slider #product-1:checked ~ .slider-controls .slider-controls-item-1::before,
.slider #product-2:checked ~ .slider-controls .slider-controls-item-2::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 6px;
  height: 6px;
  margin-top: -3px;
  margin-left: 2px;

  background-color: #ee3643;
  border-radius: 50%;
}

.slider .slider-item h3 {
  max-width: 250px;
  margin: 0;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.slider .slider-item p {
  max-width: 250px;
  margin: 0;
  margin-bottom: 124px;

  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: left;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 25px 0;

  list-style: none;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: inherit;
}

.breadcrumbs li:not(.breadcrumbs-index) a::before {
  content: "";

  position: relative;

  display: inline-block;
  width: 8px;
  height: 12px;
  margin: 0 17px;

  vertical-align: baseline;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;

  transform: translateY(2px);
}

.breadcrumbs-index {
  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog .catalog-item:nth-child(3n) .current-price {
  margin-top: 17px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 20px;

  text-align: center;

  list-style: none;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 220px;
  height: 318px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;
}

.flag-new {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  width: 60px;
  height: 59px;

  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item-image {
  position: relative;

  width: 218px;
  height: 170px;
}

.catalog-item-image img {
  width: 100%;
}

.catalog-buttons {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 170px;
  margin: 0;

  background-color: #ffffff;
}

.catalog-item:hover .catalog-buttons {
  z-index: 2;

  display: flex;
}

.catalog-item-name {
  margin-top: 8px;

  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.old-price {
  margin-top: 11px;
  margin-bottom: 13px;

  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}

.current-price {
  position: relative;

  width: 141px;
  min-height: 38px;
  margin-top: 0;
  margin-left: 43px;
  padding-top: 10px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.angle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 0;

  border-top: 19px solid #ffffff;
  border-bottom: 19px solid #ffffff;
  border-left: 19px solid #ee3643;
}

.popular-goods  .catalog-item:nth-child(4n) .current-price {
  margin-top: 17px;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 89px;

  background-color: #f9f5f0;
}

.popular-goods .section-title {
  margin-top: 33px;
}

.container-catalog .section-title {
  background-color: #f2f6f8;
}

.section-title h2 {
  margin-left: 30px;
}

.manufacturers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

.manufacturers a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin-top: 20px;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.manufacturers a:hover,
.manufacturers a:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  border: none;
}

.manufacturers a:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
  border: none;
}

.slider-services-background {
  width: 100%;
  margin: 0 auto;

  background-color: #f4f7f9;
}

.slider-services {
  position: relative;

  width: 1200px;
  min-height: 522px;
  padding: 68px 130px 50px;
  margin: 0 auto;
  margin-top: 85px;
  margin-bottom: 82px;
}

.slider-services .slider-title {
  margin: 0;
  margin-bottom: 38px;

  color: #000000;
}

.slider-services .slider-description {
  width: 400px;
  margin: 0;
}

.slider-services .slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-services .slide {
  display: none;
  flex-direction: column;
  margin-top: 57px;
  margin-left: 320px;
}

.slider-services .slide-title {
  margin: 0;
  margin-bottom: 34px;

  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;
}

.slider-services .slide-description {
  max-width: 380px;
  margin: 0;

  text-align: left;
}

.slider-services img {
  position: absolute;
  bottom: 0;
  right: 130px;
}

.slider-services .slider-item-1 img {
  width: 468px;
  height: 261px;
}

.slider-services .slider-item-2 img {
  width: 389px;
  height: 283px;
}

.slider-services .slider-item-3 img {
  width: 465px;
  height: 285px;
}

.slider-services .slider-controls {
  position: absolute;
  left: 130px;
  bottom: 51px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 279px;

  background-size: 10px 279px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  background-position: right;
}

.slider-services .slider-controls label {
  display: flex;
  align-items: center;
  width: 240px;
  height: 61px;
  padding-left: 22px;

  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-weight: bold;
  text-align: left;
  color: #ffffff;

  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
  background-color: #32425c;
}

.slider-services .slider-controls label:hover,
.slider-services .slider-controls label:focus {
  background-color: #293449;
}

#service-1:checked ~ .slider-list #slide1,
#service-2:checked ~ .slider-list #slide2,
#service-3:checked ~ .slider-list #slide3 {
  display: flex;
}

#service-1:checked ~ .slider-controls label[for="service-1"],
#service-2:checked ~ .slider-controls label[for="service-2"],
#service-3:checked ~ .slider-controls label[for="service-3"] {
  color: #32425c;

  box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
  background-color: #ffffff;
}

.company-container {
  display: flex;
  justify-content: space-between;
}

.company-container h2 {
  margin-top: 0;
  margin-bottom: 26px;

  color: #000000;
}

.index-about-company {
  width: 519px;
}

.index-about-company p {
  margin-top: 0;
  margin-bottom: 24px;
}

.transport-companies {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;

  list-style: none;
}

.contacts p {
  margin: 0;
  margin-bottom: 31px;
}

.transport-companies li:not(:last-child) {
  margin-bottom: 19px;
}

.transport-companies li::before {
  content: "";

  position: relative;
  bottom: 2px;
  left: 0;

  display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 11px;

  vertical-align: middle;

  background-color: #ee3643;
}
/*Разобраться с картой без JS*/
.map .map-label {
  width: 300px;
  height: 158px;

  cursor: pointer;
}

.big-map-label {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 15;

  display: none;
  width: 940px;
  height: 446px;

  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);

  transform: translate(-50%, -50%);
}

.big-map .modal-close {
  position: absolute;
  z-index: 25;

  display: none;
}

.map input[type="radio"]:checked + .big-map label {
  display: block;
}

.map input[type="radio"]:checked + .big-map .modal-close {
  display: block;
}

.big-map input[type="radio"]:checked + label {
  display: none;
}

.big-map input[type="radio"]:checked ~ label .modal-close {
  display: none;
}
/**/
.main-catalog-container {
  display: flex;
  width: 940px;
  margin-top: 20px;
}

.filter-container {
  margin-right: 20px;
}

.filter-container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  padding-left: 18px;
  margin: 0;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: left;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border: none;
  border-radius: 5px;
}

.filter-title {
  width: 220px;
}

.filter {
  text-transform: uppercase;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 15px;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 152px;
  height: 2px;

  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  bottom: 28px;
  left: 0;

  width: 20px;
  height: 22px;

  background-image: url("../img/filter-button.svg");

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 162px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 95px;
  height: 38px;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: center;
  color: #000000;

  background-color: #f7f3ec;
  border: none;
  border-radius: 5px;
}

.max-price {
  position: relative;
}

.max-price::before {
  content: "";

  position: absolute;
  top: 19px;
  left: -20px;

  width: 10px;
  height: 1px;

  background-color: #444444;
}

.filter hr{
  width: 220px;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 0;

  background-color: #e5e5e5;
  border: none;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 20px;

  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter li {
  margin-top: 17px;
}

.filter-manufacturers label,
.filter-power label {
  cursor: pointer;
}

.filter-manufacturers input[type="checkbox"] + .indicator,
.filter-power input[type="radio"] + .indicator {
  content: "";

  position: relative;
  bottom: 2px;

  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 12px;

  vertical-align: middle;
  background-repeat: no-repeat;
}

.filter-manufacturers input[type="checkbox"] + .indicator {
  background-image: url("../img/checkbox-off.svg");
}

.filter-manufacturers li:hover .indicator,
.filter-manufacturers input[type="checkbox"]:focus + .indicator {
  background-image: url("../img/checkbox-off-hover.svg");
}

.filter-manufacturers input:checked + .indicator {
  width: 27px;
  margin-right: 8px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-manufacturers li:hover input:checked + .indicator,
.filter-manufacturers input[type="checkbox"]:checked:focus + .indicator{
  width: 27px;
  margin-right: 8px;

  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-power input[type="radio"] + .indicator {
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
}

.filter-power li:hover input[type="radio"] + .indicator,
.filter-power input[type="radio"]:focus + .indicator {
  background-image: url("../img/radio-off-hover.svg");
}

.filter-power input[type="radio"]:checked + .indicator {
  background-image: url("../img/radio-on.svg");
}

.filter-power li:hover input[type="radio"]:checked + .indicator,
.filter-power input[type="radio"]:checked:focus + .indicator{
  background-image: url("../img/radio-on-hover.svg");
}

.filters input:disabled ~ label {
  opacity: 0.4;
  cursor: default;
}

.filters input:disabled + .indicator {
  opacity: 0.75;
  cursor: default;
}

.filters input:checked:disabled ~ label {
  opacity: 0.4;
  cursor: default;
}

.filter-manufacturers input:checked:disabled + .indicator {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
  opacity: 0.75;
  cursor: default;
}

.filter-power input:checked:disabled + .indicator {
  background-image: url("../img/radio-on.svg");
  opacity: 0.75;
  cursor: default;
}

.sort-catalog-container .sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;


  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: left;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border: none;
  border-radius: 5px;
}

.sort-catalog-container .title {
  padding-left: 18px;
  margin: 0;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: left;
  color: #000000;
}

.sort {
  width: 700px;
  margin: 0;
  padding: 0;
  padding-right: 18px;
}

.sort-by,
.sort-direction {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-container {
  position: relative;

  margin-left: 68px;
}

.sort-price {
  width: 53px;
}

.sort-type {
  width: 53px;
}

.sort-func {
  width: 113px;
}

.sort label {
  color: #000000;

  opacity: 0.3;

  cursor: pointer;
}

.sort p {
  position: absolute;
  top: 16px;
  right: 0;

  width: 100%;
  height: 1px;
  margin-top: 1px;

  border-bottom: 1px dotted #ee3643;
}

.sort-arrows {
  padding-left: 21px;
}

.sort label:hover,
.sort label:focus {
  opacity: 1;
}

.sort-container label:hover + .underline,
.sort-container label:focus + .underline {
  border-bottom-style: solid;
}

.sort-container input[type="radio"]:checked + label {
  color: #ee3643;

  opacity: 1;
}

.sort-direction input[type="radio"]:checked ~ label {
  opacity: 1;
}

.sort-direction input[type="radio"]:checked ~ label path {
  fill: #ee3643;
}

.sort-container input[type="radio"]:checked ~ .underline {
  border: none;
}

.pagination {
  margin-top: 32px;
  margin-bottom: 60px;
  padding: 0;

  border: none;
}

.pagination ul {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination li {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

.pagination .page-next {
  width: 140px;
}

.pagination div {
  position: absolute;

  width: inherit;
  height: inherit;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
}

.pagination input[type="radio"] {
  display: none;
}

.pagination label {
  z-index: 1;

  padding: 10px;

  line-height: 18px;
  text-transform: uppercase;

  cursor: pointer;
}

.pagination label:hover + div,
.pagination label:focus + div {
  border-color: #bdc6ca;
}

.pagination label:active + div {
  border-color: #ee3643;
}

.pagination input:checked ~ div {
  background-color: #ee3643;
  border-color: #ee3643;
}

.pagination input:checked ~ label {
  color: #ffffff;
}

.article-background {
  width: 100%;

  background-color: #f4f7f9;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  min-height: 261px;
  padding-top: 67px;
  margin: 0 auto;
}

.about-perforators {
  width: 940px;
}

.article-title {
  margin-top: 0;

  color: #000000;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
}

.footer-navigation,
.section-navigation,
.footer-social{
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-sup-background {
  width: 100%;

  background-color: #32425c;
}

.footer-sup {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 1200px;
  min-height: 193px;
  padding-left: 130px;
  padding-right: 130px;
  margin: 0 auto;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 695px;
}

.footer-navigation li {
  margin-top: 42px;
  margin-left: 60px;
  margin-bottom: 15px;
}

.footer-navigation a{
 color: #f1f5f7;
}

.footer-container {
  display: flex;
}

.section-navigation {
  display: flex;
}

.section-navigation li {
  margin-top: 30px;
  margin-left: 60px;
}

.section-navigation a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.section-navigation a:hover,
.section-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active,
.section-navigation a:active {
  text-decoration: none;

  opacity: 0.5;
}

.main-footer p {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

p.address {
  margin: 34px 67px 53px 0;

  color: #f3f7f9;
}

.main-footer p a {
  color: #ffd180;
}

.main-footer p a:hover,
.main-footer p a:focus {
  text-decoration: underline;
}

.main-footer p a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-sub-background {
  width: 100%;

  background-color: #293449;
}

.footer-sub {
  display: flex;
  align-items: center;
  width: 1200px;
  min-height: 107px;
  margin: 0 auto;
  padding-left: 130px;
  padding-right: 130px;
}

p.rights {
  margin: 0;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 161px;
}

.footer-social li {
  position: relative;

  width: 42px;
  height: 42px;
  margin-right: 3px;
}

.footer-social a::before {
  content: "";

  position: absolute;

  width: 42px;
  height: 42px;

  background-color: #1d2739;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.vk-button::before {
  background-image: url("../img/icon-vk.svg");
  background-size: 26px 15px;
}

.facebook-button::before {
  background-image: url("../img/icon-fb.svg");
  background-size: 12px 22px;
}

.instagram-button::before {
  background-image: url("../img/icon-insta.svg");
  background-size: 21px 21px;
}

.footer-social a:hover::before,
.footer-social a:focus::before,
.footer-social a:active::before{
  background-color: #ee3643;
}

.feedback-academy,
.developed-by {
  margin: 0;
}

.feedback-academy {
  margin-left: 116px;
  margin-right: 53px;
}

.modal {
  position: fixed;

  display: none;
  width: 620px;

  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-show {
  display: block;
}

.form-content {
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
}

.form-content label {
  margin-bottom: 13px;

  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: left;
  color: #000000;
}

.form-content input {
  margin-bottom: 22px;

  font-size: inherit;
  line-height: 18px;
  font-family: inherit;
  color: #999999;

  border: solid 2px #d7dcde;
  border-radius: 3px;
}

.form-content textarea {
  width: 460px;
  min-height: 114px;

  font-size: inherit;
  line-height: 18px;
  font-family: inherit;
  color: #999999;

  border: solid 2px #d7dcde;
  border-radius: 3px;

  resize: none;
}

.form-content input:hover,
.form-content textarea:hover {
  border-color: #b5b5b5;
}

.form-content input:focus,
.form-content input:active,
.form-content textarea:focus,
.form-content textarea:active {
  border: solid 2px #ee3643;
}

.modal-map {
  top: 50%;
  left: 50%;
  z-index: 20;

  width: 940px;
  height: 446px;

  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
  background-color: #565656;

  transform: translate(-50%, -50%);
}

.modal-feedback {
  top: 50%;
  left: 50%;
  z-index: 20;

  min-height: 430px;

  transform: translate(-50%, -50%);
}

.modal-feedback .form-content {
  display: flex;
  flex-wrap: wrap;
  min-height: 318px;
  padding: 48px 80px 15px 80px;
  margin: 0;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-item:first-child {
  margin-right: 20px;
}

.form-item input::placeholder,
.form-item textarea::placeholder{
  padding-left: 16px;
}

.form-item textarea::placeholder {
  padding-top: 13px;
}

.form-item input:-moz-placeholder,
.form-item textarea:-moz-placeholder{
  padding-left: 16px;
}

.form-item textarea:-moz-placeholder{
  padding-top: 13px;
}

.form-item input:-ms-input-placeholder,
.form-item textarea:-ms-input-placeholder{
  padding-left: 16px;
}

.form-item textarea:-ms-input-placeholder{
  padding-top: 13px;
}

.form-item input::-moz-placeholder,
.form-item textarea::-moz-placeholder{
  padding-left: 16px;
}

.form-item textarea::-moz-placeholder{
  padding-top: 13px;
}

.form-item input::-webkit-input-placeholder,
.form-item textarea::-webkit-input-placeholder{
  padding-left: 16px;
}

.form-item textarea::-webkit-input-placeholder{
  padding-top: 13px;
}

.half-width input {
  width: 220px;
  min-height: 38px;
}

.modal-in-basket {
  top: 50%;
  left: 50%;
  z-index: 20;

  min-height: 282px;

  transform: translate(-50%, -50%);
}

.modal-in-basket .form-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 170px;

  text-align: center;
}

.modal-in-basket p {
  margin: 0;
  margin-top: 25px;

  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: center;
}

.modal-in-basket p::before {
  content: "";

  position: relative;

  display: inline-block;
  width: 66px;
  height: 66px;
  margin-right: 32px;

  vertical-align: baseline;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: center;

  transform: translateY(38%);
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  height: 112px;

  background-color: #f1f1f1;
}

.button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-style: none;
  border-radius: 3px;

  cursor: pointer;
}

.button:not(.button-filter):not(.button-catalog-buy):not(.button-catalog-bookmarks):not(.button-promo):not(.button-basket-buy):hover,
.button:not(.button-filter):not(.button-catalog-buy):not(.button-catalog-bookmarks):not(.button-promo):not(.button-basket-buy):focus {
  background-color: #ca2c37;
}

.button:not(.button-filter):not(.button-catalog-buy):not(.button-catalog-bookmarks):not(.button-promo):not(.button-basket-buy):active {
  background-color: #ba2732;
}

.button-company {
  width: 220px;
  margin-top: 35px;
  margin-bottom: 86px;
}

.button-contacts {
  width: 300px;
  margin-top: 40px;
  margin-bottom: 86px;
}

.button-feedback {
  width: 460px;
}

.button-basket-order {
  width: 220px;
  margin-right: 10px;
}

.button-basket-buy {
  width: 220px;
  margin-left: 10px;

  color: #000000;

  background-color: #ffffff;
}

.button-filter {
  width: 140px;
  margin-top: 68px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;

  cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
  border-color: #ee3643;
}

.button-filter:active {
  background-color: #ee3643;
  color: #ffffff;
}

.button-catalog-buy {
  width: 135px;
  margin-bottom: 7px;

  box-shadow: inset 0 -3px 0 0 #367315;
  background-color: #63a63e;
}

.button-catalog-buy:hover,
.button-catalog-buy:focus {
  background-color: #5fbb2d;
}

.button-catalog-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.button-catalog-bookmarks {
  width: 135px;

  color: #32425c;

  background-color: #ffffff;
  border: solid 3px #63a63e;
}

.button-catalog-bookmarks:hover,
.button-catalog-bookmarks:focus {
  border-color: #32425c;
}

.button-catalog-bookmarks:active {
  opacity: 0.3;
}

.button-promo {
  position: absolute;
  left: 25px;
  bottom: 8px;

  width: 135px;
  height: 38px;

  background-color: #000000;
  opacity: 0.1;
}

.sections a:hover + .button-promo,
.sections a:focus + .button-promo {
  opacity: 0.2;
}

.sections a:active + .button-promo {
  opacity: 0.3;
}

.button-popular {
  width: 253px;
  margin-right: 24px;
}

.button-slider-item {
  position: absolute;
  bottom: 25px;

  width: 195px;
}

.button-slide {
  width: 195px;
  margin-top: 31px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 9px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url("../img/form-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  cursor: pointer;
}
