*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-weight: normal;
  text-align: left;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  min-height: 320px;

  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  color: #ffffff;

  background-color: #f4f7f9;
}

.limiter {
  width: 940px;
  margin: 0 auto;
}

.logo-interactive {
  min-height: 42px;
  margin: 0 auto;

  background-color: #293449;
}

.logo-interactive .limiter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: -5px;
}

.logo {
  z-index: 2;

  width: 220px;
  height: 47px;

  background-color: #ee3643;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo {
  background-image: url("../img/logo-header.svg");
  background-position-x: 54px;
  background-size: 109px, 19px;
}

.footer-logo {
  height: 68px;

  background-image: url("../img/logo-footer.svg");
  background-position-y: 20px;
  background-size: 138px 23px;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header-interactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 450px;
  min-height: 42px;
  margin: 0;
  padding: 0;

  line-height: 8px;

  list-style: none;
}

.header-interactive li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 150px;
  min-height: 42px;
}

.header-interactive a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: inherit;
  min-height: 100%;

  line-height: 18px;
  color: #ffffff;
}

.order a {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 12px 0 10px;
}

.header-interactive span {
  margin-left: 4px;
  margin-right: 10px;
}

.highlight {
  background-color: #ee3643;
}

.logo-search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 490px;
}

.logo-search-container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 270px;
  height: 42px;

  border: none;
}

.search .loupe {
  width: 49px;
  height: inherit;
  margin: 0;
  padding: 0;

  background-color: #293449;
  border: none;
  opacity: 0.3;
}

.loupe svg {
  fill: #ffffff;
}

.search input[type="search"] {
  width: 221px;
  height: inherit;
  padding: 0;

  color: #ffffff;

  background-color: #293449;
  border: none;
  opacity: 1;

  -webkit-appearance: none;
  outline: none;
}

.search input[type="search"]:hover,
.search input[type="search"]:hover + .loupe {
  background-color: #212a3a;
  opacity: 1;
}

form.search input[type="search"]:focus,
.search input[type="search"]:active {
  color: #000000;

  background-color: #ffffff;
}

.search input[type="search"]:focus + button.loupe {
  background-color: #ffffff;
  opacity: 1;
}

.search input[type="search"]:focus + button.loupe svg {
  background-color: #ffffff;
  fill: #ee3643;
  opacity: 1;
}

.search input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type="search"]::-moz-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type="search"]:-ms-input-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type="search"]::-ms-input-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type="search"]::placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type="search"]::-moz-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type="search"]::-ms-input-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type="search"]:-ms-input-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type="search"]:-moz-placeholder {
  color: #ffffff;

  opacity: 1;
}

input[type=text]::-ms-clear {
  display: none;
  width : 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.bookmarks a::before,
.basket a::before {
  content: "";

  position: relative;

  display: inline-block;
  margin-left: 17px;

  vertical-align: text-top;

  background-repeat: no-repeat;
  opacity: 0.3;

  -webkit-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
}

.bookmarks a::before {
  min-width: 14px;
  height: 16px;
  margin-right: 13px;

  background-image: url("../img/icon-bookmark.svg");
}

.basket a::before {
  min-width: 15px;
  height: 15px;
  margin-right: 17px;

  background-image: url("../img/icon-cart.svg");
}

.header-interactive a:hover::before,
.header-interactive a:focus::before {
  opacity: 1;
}

.bookmarks a:active,
.basket a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.header-interactive a:active::before {
  opacity: 0.5;
}

.order {
  background-color: #63a63e;
}

.search input[type="search"]:hover,
.bookmarks a:hover,
.bookmarks a:focus,
.basket a:hover,
.basket a:focus {
  background-color: #212a3a;
}

.order a:hover,
.order a:focus {
  background-color: #5fbb2d;
}

.order a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-contacts {
  min-height: 278px;
  margin: 0 auto;
  padding-top: 46px;
}

.header-contacts .limiter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header-contacts .description {
  max-width: 197px;
  margin: 4px 0 0 52px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.phone-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 71px;
}

.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 270px;
  min-height: 40px;
  margin: 0;
  margin-bottom: 4px;
  padding-left: 2px;

  font-size: 21px;
  line-height: 21px;
  color: #e9292a;

  border: solid 3px #ffffff;
}

.phone-number:after{
  content: "";

  min-height: inherit;

  font-size: 0;
}

.phone-number::before {
  content: "";

  position: relative;

  min-width: 19px;
  height: 19px;
  margin-right: 41px;
  margin-left: 10px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-address {
  max-width: 252px;
  min-height: 13px;

  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.header-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 281px;
  margin: 0;
  margin-left: 68px;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #000000;

  list-style: none;
}

.user-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 281px;
  min-height: 45px;
  margin-bottom: 10px;

  color: #000000;

  background-color: #ffffff;
  border: none;
}

.user-buttons:after{
  content: "";

  min-height: inherit;

  font-size: 0;
}

.header-login .login-button {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-width: 121px;
  margin-right: 10px;
  padding: 0 10px;
}

.header-login .check-in-button {
  min-width: 150px;
}

.login-button svg {
  min-width: 20px;
  height: 17px;
  margin-right: 14px;
  margin-left: 4px;
  fill: #c5c5c5;
}

.login-button:hover,
.login-button:focus,
.check-in-button:hover,
.check-in-button:focus{
  color: #ee3643;
}

.login-button:-moz-focusring,
.check-in-button:-moz-focusring {
  outline: none;
}

.login-button:hover svg,
.login-button:focus svg {
  fill: #000000;
}

.login-button:active,
.check-in-button:active{
  color: #000000;

  opacity: 0.3;
}

.login-button:active svg {
  fill: #c5c5c5;
}

.checked-in-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 299px;
  min-height: 45px;
  padding: 10px;
  margin: 0;
  margin-left: 50px;

  background-color: #ffffff;

  list-style: none;
}

.checked-in-user a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.avatar svg {
  width: 20px;
  height: 18px;
  margin-left: 3px;
  margin-right: 14px;

  fill: #c5c5c5;
}

.exit svg {
  width: 20px;
  height: 17px;
  margin-left: 10px;

  fill: #c5c5c5;
}

.avatar svg:hover,
.avatar a:focus svg,
.exit svg:hover,
.exit a:focus svg {
  fill: #32425c;
}

.avatar a:active svg,
.exit a:active svg {
  fill: #c5c5c5;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 299px;
  margin-top: 1px;
}

.user .user-name {
  width: 210px;
}

.checked-in-user-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 4px 0 0 68px;
  padding: 0;
  list-style: none;
}

.checked-in-user-links a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.separator {
  min-width: 5px;
  height: 5px;
  margin: 10px 14px;

  background-color: #32425c;
  border: none;
  border-radius: 50%;
}

.user-name:active {
  opacity: 0.3;
}

.my-orders:hover,
.my-orders:focus,
.personal-area:hover,
.personal-area:focus {
  color: #ee3643;
}

.my-orders:active,
.personal-area:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-navigation {
  align-self: flex-end;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 60px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  padding: 0 22px 0 24px;

  -webkit-box-shadow: inset 0 -5px 0 0 #293449;

  box-shadow: inset 0 -5px 0 0 #293449;
  background-color: #32425c;

  list-style: none;
}

.navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 60px;
}

.navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 181px;
  min-height: inherit;
  padding: 0 30px;

  text-align: center;
  color: #ffffff;
}

.navigation-link:after{
  content: "";

  min-height: inherit;

  font-size: 0;
}

.navigation-item:nth-child(1) .navigation-link {
  padding-left: 27px;
}

.navigation-item:nth-child(2) .navigation-link {
  padding-left: 34px;
}

.navigation-item:nth-child(5) .navigation-link {
  padding-left: 29px;
}

.navigation-item:nth-child(6) .navigation-link,
.navigation-item:nth-child(7) .navigation-link {
  padding-left: 32px;
}

.navigation-link:hover,
.navigation-link:focus {
  background-color: #293449;
}

.navigation-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.promo-container {
  margin-top: 59px;
}

.promo-container .limiter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);

  border: 0;

  overflow: hidden;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.sections{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.part-2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sections li {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 300px;
  min-height: 123px;
  margin-bottom: 19px;
  margin-left: 20px;
  padding: 22px;

  background-repeat: no-repeat;
  background-position: 197px center;
}

.sections:not(.part-2) li:nth-child(1) {
  margin-left: 0;
}

.sections h3 {
  max-width: 170px;
  margin: 0;
  margin-bottom: 12px;

  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.sections a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 135px;
  min-height: 38px;
  margin: 0;
  margin-left: 1px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.materials a,
.tool a {
  margin-left: 3px;
}

.sections a:hover,
.sections a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.sections a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.sections .materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-position: 212px center;
  background-size: 44px 65px;
}

.sections .tool {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-size: 75px 61px;
}

.sections .equipment {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-position: 192px center;
  background-size: 78px 62px;
}

.sections .special-offers {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-size: 59px 72px;
}

.sections .delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-position: 190px center;
  background-size: 78px 63px;
}

.slider .slider-container {
  position: relative;

  width: 620px;

  background-color: #999999;
}

.slider-arrows {
  position: absolute;
  top: 113px;
  z-index: 5;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 575px;
  height: 40px;
  margin-left: 25px;
}

.slider-arrows svg {
  fill: #ffffff;
}

.slider-arrow-left {
  position: relative;

  display: inline-block;
  width: 22px;
  height: 40px;

  vertical-align: middle;

  cursor: pointer;
}

.slider-arrow-right {
  position: relative;

  display: inline-block;
  width: 22px;
  height: 40px;

  vertical-align: middle;

  cursor: pointer;
}

.slider .slider-controls {
  position: absolute;
  left: 50%;
  bottom: 27px;
  z-index: 5;

  width: 40px;
  height: 30px;

  text-align: center;
  font-size: 0;

  -webkit-transform: translate(-25px, 2px);

  -ms-transform: translate(-25px, 2px);

  transform: translate(-25px, 2px);
}

.slider .slider-controls label {
  position: relative;

  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 15px 10px;

  vertical-align: top;

  border-radius: 50%;

  cursor: pointer;
}

.slider .slider-controls label::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background: #ffffff;
  border-radius: 50%;
}

.slider .slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider .slider-item {
  position: relative;

  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  min-height: 266px;
  padding: 25px;
  padding-right: 20px;
}

.slider .slider-item:nth-child(1) {
  background-image: url("../img/slide-image-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slider .slider-item:nth-child(2) {
  background-size: contain;
  background-image: url("../img/slide-image-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slider .product-1:focus ~ .slider-arrows .slider-arrow-left svg,
.slider .product-2:focus ~ .slider-arrows .slider-arrow-right svg {
  fill: #ee3643;
}

.slider .product-1:checked ~ .slider-list .slider-item:nth-child(1),
.slider .product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .product-1:checked ~ .slider-controls .slider-controls-item-1::before,
.slider .product-2:checked ~ .slider-controls .slider-controls-item-2::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 6px;
  height: 6px;
  margin-top: -3px;
  margin-left: 2px;

  background-color: #ee3643;
  border-radius: 50%;
}

.slider .slider-item h3 {
  max-width: 575px;
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.slider .slider-item p {
  max-width: 575px;
  margin: 0;

  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: left;
  color: #ffffff;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 17px 0;
  margin-left: -3px;

  list-style: none;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: inherit;
}

.breadcrumbs li:not(.breadcrumbs-index) a::before {
  content: "";

  position: relative;

  display: inline-block;
  width: 8px;
  height: 12px;
  margin: 0 17px;

  vertical-align: baseline;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;

  -webkit-transform: translateY(2px);

  -ms-transform: translateY(2px);

  transform: translateY(2px);
}

.breadcrumbs-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 14px;
  height: 12px;
}

.breadcrumbs-index svg {
  fill: #c1c6ce;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ee3643;
}

.breadcrumbs-index a:hover svg,
.breadcrumbs-index a:focus svg {
  fill: #ee3643;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 700px;
  padding: 0;
  margin: 0;
  margin-top: 21px;

  text-align: center;

  list-style: none;
}

.catalog-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: auto;
  min-height: 318px;
  margin-bottom: 19px;
  margin-right: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-link {
  display: block;
  width: inherit;
  min-height: inherit;

  border: 1px solid #e5e5e5;
}

.flag-new {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  width: 60px;
  height: 59px;

  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-item:hover,
.catalog-item-link:focus {
  border: none;
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item img {
  width: 218px;
  height: 170px;
}

.catalog-buttons {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 218px;
  height: 170px;
  margin: 0;

  background-color: #ffffff;
}

.catalog-item:hover .catalog-buttons,
.catalog-item .catalog-item-link:focus ~ .catalog-buttons {
  z-index: 2;

  display: block;
}

.catalog-item-name {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 13px;

  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.old-price {
  margin-bottom: 11px;
  margin-left: 4px;

  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}

.current-price {
  position: relative;

  width: 141px;
  min-height: 38px;
  margin-top: -2px;
  margin-bottom: 21px;
  margin-left: 41px;
  padding-top: 10px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.angle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 0;

  border-top: 19px solid #ffffff;
  border-bottom: 19px solid #ffffff;
  border-left: 19px solid #ee3643;
}

.popular-goods .catalog-list {
  width: 940px;
}

.popular-goods .catalog-item {
  margin-right: 20px;
}

.popular-goods .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.popular-goods  .catalog-item:nth-child(4n) .current-price,
.catalog .catalog-item:nth-child(3n) .current-price {
  margin-top: 40px;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 940px;
  min-height: 89px;

  background-color: #f9f5f0;
}

.section-title .catalog-title {
  max-width: 880px;
}

.popular-goods .section-title {
  margin-top: 33px;
}

.container-catalog .section-title {
  background-color: #f2f6f8;
}

.section-title h2 {
  max-width: 625px;
  margin-left: 28px;
}

.manufacturers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

.manufacturers a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin-top: 20px;
  padding-bottom: 3px;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.manufacturers a:hover,
.manufacturers a:focus {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  border: none;
}

.manufacturers a:active {
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
  border: none;
}

.manufacturers .interskol {
  padding-bottom: 15px;
}

.manufacturers .hitachi {
  padding-bottom: 0;
  padding-left: 5px;
}

.manufacturers .metabo {
  padding-bottom: 8px;
  padding-left: 4px;
}

.slider-services {
  min-height: 522px;
  padding: 0;
  margin: 0 auto;
  margin-top: 85px;
  margin-bottom: 75px;

  background-color: #f4f7f9;
}

.slider-services .slider-title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 65px;

  color: #000000;
}

.slider-services .slider-description {
  width: 400px;
  margin: 0;

  letter-spacing: 0.03px;
}

.slider-services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.slider-services .slider-list {
  width: 700px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-services .slide {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 358px;
  margin-left: 80px;
}

.slider-services .slide-title {
  margin: 0;
  margin-top: 68px;
  margin-bottom: 24px;

  font-size: 35px;
  line-height: 36px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;
}

.slider-services .slide-description {
  max-width: 380px;
  margin: 0;

  text-align: left;
}

.slider-services .slider-item-1 {
  background-image: url("../img/delivery.png");
  background-size: 468px, 261px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slider-services .slider-item-2 {
  background-image: url("../img/guarantee.png");
  background-size: 389px, 283px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slider-services .slider-item-3 {
  background-image: url("../img/credit.png");
  background-size: 465px, 285px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slider-services .slider-controls {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 240px;
  min-height: 279px;
  margin-top: 18px;
  margin-bottom: 50px;
}

.slider-controls .shadow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 10px;
  height: 279px;
}

.slider-services .slider-controls label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 240px;
  min-height: 61px;
  padding-left: 22px;

  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-weight: bold;
  text-align: left;
  color: #ffffff;

  -webkit-box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;

  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
  background-color: #32425c;
}

.slider-services .slider-controls label:after{
  content: "";

  min-height: inherit;

  font-size: 0;
}

.slider-services .slider-controls label:hover {
  background-color: #293449;
}

.service-1:checked ~ .slider-list .slider-item-1,
.service-2:checked ~ .slider-list .slider-item-2,
.service-3:checked ~ .slider-list .slider-item-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-1:checked ~ .slider-controls label[for="service-1"],
.service-2:checked ~ .slider-controls label[for="service-2"],
.service-3:checked ~ .slider-controls label[for="service-3"] {
  color: #32425c;

  -webkit-box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;

  box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
  background-color: #ffffff;
}

.service-1:focus ~ .slider-controls label[for="service-1"],
.service-2:focus ~ .slider-controls label[for="service-2"],
.service-3:focus ~ .slider-controls label[for="service-3"]{
  -webkit-box-shadow: -7px 0 15px 0 #293449;
  box-shadow: -7px 0 15px 0 #293449;
}

.company-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.company-container h2 {
  margin-top: 0;
  margin-bottom: 26px;

  color: #000000;
}

.index-about-company {
  width: 525px;
}

.index-about-company p {
  margin-top: 0;
  margin-bottom: 24px;

  letter-spacing: 0.13px;
}

.index-about-company p:nth-child(3) {
  letter-spacing: 0.05px;
}

.transport-companies {
  margin: 0;
  margin-top: -1px;
  padding: 0;

  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;

  list-style: none;
}

.contacts {
  width: 300px;
}

.contacts p {
  margin: 0;
  margin-bottom: 31px;
}

.transport-companies li:not(:last-child) {
  margin-bottom: 19px;
}

.transport-companies li::before {
  content: "";

  position: relative;
  bottom: 2px;
  left: 0;

  display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 11px;

  vertical-align: middle;

  background-color: #ee3643;
}

.map {
  width: 300px;
  height: 158px;
}

.map a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  cursor: pointer;
}

.map a:hover,
.map a:focus {
  border: 1px solid #ee3643;
}

.main-content .limiter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19px;
}

.filter-container {
  margin-right: 20px;
}

.filter-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 38px;
  padding-left: 19px;
  margin: 0;
  margin-bottom: 11px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: left;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border: none;
  border-radius: 5px;
}

.filter-container .title:after{
  content: "";

  min-height: inherit;

  font-size: 0;
}

.filter-title {
  width: 220px;
}

.filter {
  text-transform: uppercase;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 15px;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 152px;
  height: 2px;

  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  bottom: 28px;
  left: 0;

  width: 20px;
  height: 22px;

  background-image: url("../img/filter-button.svg");

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 162px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -2px;
}

.price-controls .min-price {
  margin-left: 2px;
}

.price-controls input {
  width: 95px;
  height: 38px;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: center;
  color: #000000;

  background-color: #f7f3ec;
  border: none;
  border-radius: 5px;
}

.max-price {
  position: relative;
}

.max-price::before {
  content: "";

  position: absolute;
  top: 19px;
  left: -20px;

  width: 10px;
  height: 1px;

  background-color: #444444;
}

.filter hr{
  width: 220px;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 17px;
  margin-left: 0;

  background-color: #e5e5e5;
  border: none;
}

.filter hr:nth-child(4) {
  margin-top: 20px;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 20px;

  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter li {
  margin-top: 16px;
}

.filter-manufacturers li:nth-child(1) {
  margin-top: 15px;
}

.filter-manufacturers li:nth-child(4) {
  margin-top: 18px;
}

.filter-manufacturers label,
.filter-power label {
  cursor: pointer;
}

.filter-power legend {
  letter-spacing: 0.5px;
}

.filter-power li:nth-child(1) {
  margin-top: 13px;
}

.filter-power li:nth-child(2) {
  margin-top: 15px;
}

.filter-manufacturers input + .indicator,
.filter-power input + .indicator {
  content: "";

  position: relative;
  bottom: 2px;

  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 8px;

  vertical-align: middle;
  background-repeat: no-repeat;
}

.filter-manufacturers input + .indicator {
  background-image: url("../img/checkbox-off.svg");
}

.filter-manufacturers li:hover input:not(:disabled) + .indicator,
.filter-manufacturers input:not(:disabled):focus + .indicator {
  background-image: url("../img/checkbox-off-hover.svg");
}

.filter-manufacturers input:checked + .indicator {
  width: 27px;
  margin-right: 3px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-manufacturers li:hover input:checked:not(:disabled) + .indicator,
.filter-manufacturers input:checked:not(:disabled):focus + .indicator{
  width: 27px;
  margin-right: 8px;

  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-power input + .indicator {
  width: 25px;
  height: 25px;
  margin-right: 6px;

  background-image: url("../img/radio-off.svg");
}

.filter-power li:hover input:not(:disabled) + .indicator,
.filter-power input:not(:disabled):focus + .indicator {
  background-image: url("../img/radio-off-hover.svg");
}

.filter-power input:checked + .indicator {
  background-image: url("../img/radio-on.svg");
}

.filter-power li:hover input:checked:not(:disabled) + .indicator,
.filter-power input:checked:not(:disabled):focus + .indicator{
  background-image: url("../img/radio-on-hover.svg");
}

.filters input:disabled ~ label,
.filters input:checked:disabled ~ label {
  opacity: 0.4;
  cursor: default;
}

.filters input:disabled + .indicator {
  opacity: 0.75;
  cursor: default;
}

.filter-manufacturers input:checked:disabled + .indicator {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
  opacity: 0.75;
  cursor: default;
}

.filter-power input:checked:disabled + .indicator {
  background-image: url("../img/radio-on.svg");
  opacity: 0.75;
  cursor: default;
}

.sort-catalog-container .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 38px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: left;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border: none;
  border-radius: 5px;
}

.sort-catalog-container .sort:after{
  content: "";

  min-height: inherit;

  font-size: 0;
}

.sort-catalog-container .title {
  width: 200px;
  padding-left: 19px;
  margin: 0;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: left;
  color: #000000;
}

.sort {
  width: 700px;
  margin: 0;
  padding: 0;
  padding-right: 18px;
}

.sort-by,
.sort-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-by {
  width: 427px;
}

.sort-direction {
  width: 65px;
}

.sort-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin-left: 5px;
}

.sort-price {
  width: 53px;
  margin-left: 42px;
}

.sort-type {
  width: 53px;
  margin-left: 49px;
}

.sort-func {
  width: 138px;
  margin-left: 44px;
}

.sort .sort-name {
  position: relative;

  width: inherit;

  color: rgba(0, 0, 0, 0.3);

  cursor: pointer;
}

.sort .sort-name::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: inherit;
  height: 1px;
  margin: 0;
  margin-top: 1px;

  border-bottom: 1px dotted #ee3643;
}

.sort-func .sort-name::after {
  width: 115px;
}

.sort .sort-name:hover,
.sort .sort-name:focus {
  color: rgba(0, 0, 0, 1);
}

.sort .sort-name:hover::after,
.sort .sort-name:focus::after {
  border-bottom-style: solid;
}

.sort .sort-name:active {
  color: #ee3643;

  opacity: 1;
}

.sort .sort-name:active::after {
  border: none;
}

.current-sort {
  color: #ee3643;

  opacity: 1;
}

.current-sort::after {
  border: none;
}

.sort-arrows {
  padding-left: 21px;
}

.sort-direction .sort-arrow {
  cursor: pointer;
}

.sort-arrow svg {
  fill: #c5c5c5;
}

.sort-arrow:hover svg,
.sort-arrow:focus svg {
  fill: #231F20;
}

.sort-arrow:active svg {
  fill: #ee3643;
}

.pagination {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 60px;
  padding: 0;

  border: none;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 38px;
  height: 38px;
  margin-right: 9px;
}

.page-next {
  min-width: 140px;
  margin-left: 1px;
}

.pagination .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 0 15px;

  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
}

.pages .current-page {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.pages .page:hover,
.pages .page:focus {
  border-color: #bdc6ca;
}

.pages .page:active {
  border-color: #ee3643;
}

.about-perforators {
  min-height: 261px;
  padding-top: 65px;
  margin: 0 auto;

  background-color: #f4f7f9;
}

.about-perforators .limiter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.article-title {
  max-width: 940px;
  margin-top: 0;
  margin-bottom: 14px;

  color: #000000;

  letter-spacing: 0.17px;
}

.about-perforators p {
  max-width: 938px;
  margin: 0;
  padding: 0;
}

.about-perforators p:nth-child(2) {
  margin-top: 12px;
  margin-left: 1px;

  letter-spacing: 0.01px;
}

.about-perforators p:nth-child(3) {
  margin-left: 1px;

  letter-spacing: 0.13px;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
}

.footer-navigation,
.section-navigation,
.footer-social{
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-sup {
  margin: 0 auto;

  background-color: #32425c;
}

.footer-sup .limiter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  min-height: 193px;
}

.footer-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: inherit;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 695px;
  margin-top: 38px;
}

.footer-navigation li {
  max-width: 130px;
  margin-bottom: 25px;
  margin-left: 59px;
}

.footer-navigation a{
  color: #f1f5f7;
}

.footer-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  max-width: 615px;
  padding-top: 9px;
}

.section-navigation li {
  max-width: 140px;
  margin-bottom: 10px;
  margin-left: 60px;
}

.section-navigation a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.section-navigation a:hover,
.section-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active,
.section-navigation a:active {
  text-decoration: none;

  opacity: 0.5;
}

.main-footer p {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-footer p a {
  color: #ffd180;
}

.main-footer p a:hover,
.main-footer p a:focus {
  text-decoration: underline;
}

.main-footer p a:active {
  color: #ee3643;
  text-decoration: none;
}

p.address {
  width: 338px;
  margin: 9px 13px 49px 3px;

  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f1f5f7;

  cursor: pointer;
}

.address .footer-phone {
  color: #f1f5f7;
}

p.address:hover,
p.address:focus {
  text-decoration: none;
}

p.address:active {
  color: #f1f5f7;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #ee3643;
}

.footer-sub {
  margin: 0 auto;
  min-height: 107px;

  background-color: #293449;
}

.footer-sub .limiter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: inherit;
  padding-top: 2px;
}

.footer-sub .limiter:after{
  content: "";

  min-height: inherit;

  font-size: 0;
}

p.rights {
  max-width: 228px;
  margin: 0;
  margin-left: 1px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 140px;
  margin-top: 4px;
  margin-left: 161px;
}

.footer-social li {
  width: 42px;
  height: 42px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.footer-social a {
  display: inline-block;
  width: 42px;
  height: 42px;

  vertical-align: middle;

  background-color: #1d2739;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.vk-button {
  background-image: url("../img/icon-vk.svg");
  background-size: 26px 15px;
}

.facebook-button {
  background-image: url("../img/icon-fb.svg");
  background-size: 12px 22px;
}

.instagram-button {
  background-image: url("../img/icon-insta.svg");
  background-size: 21px 21px;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active{
  background-color: #ee3643;
}

.feedback-academy,
.developed-by {
  max-width: 100px;
  margin: 0;
}

.feedback-academy {
  max-width: 135px;
  margin-left: 116px;
  margin-right: 53px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  bottom: 50%;
  left: 50%;
  z-index: 20;

  display: none;
  width: 620px;

  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.form-content {
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
}

.form-content label {
  margin-bottom: 13px;

  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: left;
  color: #000000;
}

.form-content input {
  margin-bottom: 22px;

  font-size: inherit;
  line-height: 18px;
  font-family: inherit;
  color: #999999;

  border: solid 2px #d7dcde;
  border-radius: 3px;
}

.form-content textarea {
  width: 460px;
  min-height: 114px;

  font-size: inherit;
  line-height: 18px;
  font-family: inherit;
  color: #999999;

  border: solid 2px #d7dcde;
  border-radius: 3px;

  resize: none;
}

.form-content input:hover,
.form-content textarea:hover {
  border-color: #b5b5b5;
}

.form-content input:focus,
.form-content input:active,
.form-content textarea:focus,
.form-content textarea:active {
  border: solid 2px #ee3643;
}

.modal-map {
  width: 940px;
  height: 446px;
  margin-bottom: -223px;
  margin-left: -470px;

  -webkit-box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
  background-color: #565656;
}

.modal-feedback {
  min-height: 430px;
  margin-bottom: -215px;
  margin-left: -310px;
}

.modal-feedback .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 318px;
  padding: 48px 80px 15px 80px;
  margin: 0;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form-item:first-child {
  margin-right: 20px;
}

.form-item input::-webkit-input-placeholder,
.form-item textarea::-webkit-input-placeholder{
  padding-left: 16px;
}

.form-item input::-moz-placeholder,
.form-item textarea::-moz-placeholder{
  padding-left: 16px;
}

.form-item input:-ms-input-placeholder,
.form-item textarea:-ms-input-placeholder{
  padding-left: 16px;
}

.form-item input::-ms-input-placeholder,
.form-item textarea::-ms-input-placeholder{
  padding-left: 16px;
}

.form-item input::placeholder,
.form-item textarea::placeholder{
  padding-left: 16px;
}

.form-item textarea::-webkit-input-placeholder {
  padding-top: 13px;
}

.form-item textarea::-moz-placeholder {
  padding-top: 13px;
}

.form-item textarea:-ms-input-placeholder {
  padding-top: 13px;
}

.form-item textarea::-ms-input-placeholder {
  padding-top: 13px;
}

.form-item textarea::placeholder {
  padding-top: 13px;
}

.form-item input:-moz-placeholder,
.form-item textarea:-moz-placeholder{
  padding-left: 16px;
}

.form-item textarea:-moz-placeholder{
  padding-top: 13px;
}

.form-item input:-ms-input-placeholder,
.form-item textarea:-ms-input-placeholder{
  padding-left: 16px;
}

.form-item textarea:-ms-input-placeholder{
  padding-top: 13px;
}

.form-item input::-moz-placeholder,
.form-item textarea::-moz-placeholder{
  padding-left: 16px;
}

.form-item textarea::-moz-placeholder{
  padding-top: 13px;
}

.form-item input::-webkit-input-placeholder,
.form-item textarea::-webkit-input-placeholder{
  padding-left: 16px;
}

.form-item textarea::-webkit-input-placeholder{
  padding-top: 13px;
}

.half-width input {
  width: 220px;
  min-height: 38px;
}

.modal-in-basket {
  min-height: 282px;
  margin-left: -310px;
  margin-top: 410px;
}

.modal-in-basket .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  min-height: 170px;

  text-align: center;
}

.modal-in-basket p {
  margin: 0;
  margin-top: 25px;

  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: center;
}

.modal-in-basket p::before {
  content: "";

  position: relative;

  display: inline-block;
  width: 66px;
  height: 66px;
  margin-right: 32px;

  vertical-align: baseline;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: center;

  -webkit-transform: translateY(38%);
  -ms-transform: translateY(38%);
  transform: translateY(38%);
}

.form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 620px;
  height: 112px;

  background-color: #f1f1f1;
}

.button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-style: none;
  border-radius: 3px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button-company {
  width: 220px;
  margin-top: 38px;
  margin-bottom: 85px;
}

.button-contacts {
  width: 300px;
  margin-top: 41px;
  margin-bottom: 85px;
  padding-left: 5px;
}

.button-feedback {
  width: 460px;
}

.button-order {
  width: 220px;
  margin-right: 10px;
}

.button-continue {
  width: 220px;
  margin-left: 10px;

  color: #000000;

  background-color: #ffffff;
}

.button-continue:hover,
.button-continue:focus {
  background-color: #ffffff;
  border: 1px solid #ee3643;
}

.button-continue:active {
  background-color: #ee3643;
  color: #ffffff;
}

.button-filter {
  width: 140px;
  margin-top: 73px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;

  cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
  background-color: #ffffff;
  border-color: #ee3643;
}

.button-filter:active {
  background-color: #ee3643;
  color: #ffffff;
}

.button-catalog {
  display: block;
  width: 135px;
  height: 38px;
  margin: 0 auto;
}

.button-catalog-buy {
  margin-top: 44px;
  margin-bottom: 7px;

  -webkit-box-shadow: inset 0 -3px 0 0 #367315;

  box-shadow: inset 0 -3px 0 0 #367315;
  background-color: #63a63e;
}

.button-catalog-buy:hover,
.button-catalog-buy:focus {
  background-color: #5fbb2d;
}

.button-catalog-buy:active {
  background-color: #518534;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button-catalog-bookmarks {
  color: #32425c;

  background-color: #ffffff;
  border: solid 3px #63a63e;
}

.button-catalog-bookmarks:hover,
.button-catalog-bookmarks:focus {
  background-color: #ffffff;
  border-color: #32425c;
}

.button-catalog-bookmarks:active {
  background-color: #ffffff;
  opacity: 0.3;
}

.button-popular {
  width: 253px;
  margin-right: 24px;
}

.button-slider-item {
  position: absolute;
  bottom: 22px;
  left: 26px;
  width: 195px;
}

.button-slide {
  width: 195px;
  margin-top: 31px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 9px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url("../img/form-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  cursor: pointer;
}

.modal-map .modal-close {
  top: 9px;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;

  display: none;
  width: 100%;
  height: 100%;

  background-color: #000000;
  opacity: 0.4;
}

.cover-show {
  display: block;
}
