
*, *::before, *::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  text-align: left;

  background-color: #ffffff;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header a,
footer a {
  color: #ffffff;
}

.main-header {
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #f4f7f9;
}

.header-logo-interactive {
  position: relative;
  width: 1200px;
  background-color: #293449;
}

.index-logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 47px;
  left: 130px;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  z-index: 1;
}

.index-logo {
  margin-bottom: 5px;
}

.index-logo-container:hover,
.index-logo-container:focus {
  background-color: #ca2c37;
}

.index-logo-container:active {
  background-color: #ba2732;
}

.header-interactive {
  display: flex;
  justify-content: space-between;
  margin: 0 130px;
  padding-left: 220px;
  width: 940px;
  min-height: 42px;
  line-height: 18px;
  list-style: none;
}

.header-interactive li {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 42px;
}

.search {
  position: relative;
  justify-self: left;
  width: 270px;
  padding-left: 50px;
  border: none;
}

.search .loupe {
  position: absolute;
  left: 0;
  width: 50px;
  height: 42px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  opacity: 0.3;
}

.search input[type="search"] {
  background-color: inherit;
  border: none;
  -webkit-appearance: none;
  width: 221px;
  vertical-align: middle;
  color: #ffffff;
  opacity: 1;
  outline: none;
}

.search input[type="search"]:hover + .loupe {
  opacity: 1;
}

.search input[type="search"]:focus,
.search input[type="search"]:active {
  height: 100%;
  background-color: #ffffff;
}

.search input[type="search"]:focus + button.loupe {
  background-color: #ffffff;
}

.search input[type="search"]:focus + button.loupe path {
  background-color: #ffffff;
  fill: #ee3643;
  opacity: 1;
}

.search input[type="search"]:focus:hover + button.loupe path {
  background-color: #ffffff;
}

.search input[type="search"]::placeholder {
  color: #ffffff;
  opacity: 1;
}

.search input[type="search"]::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search input[type="search"]:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.bookmarks a::before,
.basket a::before {
  content: "";
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  transform: translateY(10%);
  opacity: 0.3;
}

.bookmarks a::before {
  width: 14px;
  height: 16px;
  margin-right: 13px;
  background-image: url("../img/icon-bookmark.svg");
}

.basket a::before {
  width: 15px;
  height: 15px;
  margin-right: 17px;
  background-image: url("../img/icon-cart.svg");
}

.header-interactive a:hover::before,
.header-interactive a:focus::before {
  opacity: 1;
}

.bookmarks a:active,
.basket a:active {
  opacity: 0.6;
}

.header-interactive a:active::before {
  opacity: 0.8;
}

.order {
  background-color: #63a63e;
}

.search:hover,
.bookmarks:hover,
.bookmarks:focus,
.basket:hover,
.basket:focus {
  background-color: #212a3a;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.bookmarks:active,
.basket:active {
  background-color: #161d29;
  opacity: 0.6;
}

.order:active {
  background-color: #518534;
  opacity: 0.5;
}

.search:focus,
.search:active {
  background-color: #ffffff;
  color: #000000;
}

.header-contacts .description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

p.phone-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 45px;
  border: solid 3px #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.header-login {
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #000000;
  list-style: none;
}

button.login:hover,
button.login:focus,
button.check-in:hover,
button.check-in:focus{
  color: #ee3643;
}

button.login:active,
button.check-in:active{
  color: #000000;
  opacity: 0.3;
}

.checked-in-user,
.checked-in-user-links {
  list-style: none;
}

.checked-in-user a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.checked-in-user-links a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-name:active {
  opacity: 0.3;
}

.my-orders:hover,
.my-orders:focus,
.personal-area:hover,
.personal-area:focus {
  color: #ee3643;
}

.my-orders:active,
.personal-area:active {
  color: rgba(50, 66, 92, 0.3);
}

.site-navigation {
  width: 940px;
  min-height: 60px;
  box-shadow: inset 0 -5px 0 0 #293449;
  background-color: #32425c;

  list-style: none;
}

.site-navigation li:hover,
.site-navigation li:focus {
  background-color: #293449;
}

.site-navigation li:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.sections {
  list-style: none;
}

.sections li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  min-height: 123px;
  background-repeat: no-repeat;
  background-position: 194px center;
}

.sections h3 {
  margin-bottom: 0;
  margin-left: 23px;
  padding-top: 26px;
  font-family: "Cuprum", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.sections a {
  position: absolute;
  top: 63px;
  right: 140px;
  width: 135px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
}

.sections .materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-size: 44px 65px;
  background-position: 210px center;
}

.sections .tool {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-size: 75px 61px;
}

.sections .equipment {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-size: 78px 62px;
}

.sections .special-offers {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-size: 59px 72px;
}

.sections .delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-size: 78px 63px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: inherit;
}

.sort {
  width: 700px;
  margin: 0;
  padding: 0;
  padding-right: 18px;
}

.title-sort-container .title,
.title-sort-container .sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;

  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;

  background-color: #f7f3ec;
  border: none;
  border-radius: 5px;
}

.title-sort-container .title {
  padding-left: 18px;
}

.filter-title {
  width: 220px;
}

.sort-by,
.sort-direction {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sort-container {
  position: relative;
  margin-left: 68px;
}

.sort-price {
  width: 53px;
}

.sort-type {
  width: 53px;
}

.sort-func {
  width: 113px;
}

.sort label {
  color: #000000;
  opacity: 0.3;
  cursor: pointer;
}

.sort p {
  position: absolute;
  top: 16px;
  right: 0;
  width: 100%;
  height: 1px;
  margin-top: 1px;
  border-bottom: 1px dotted #ee3643;
}

.sort-arrows {
  padding-left: 21px;
}

.sort label:hover,
.sort label:focus {
  opacity: 1;
}

.sort-container label:hover + .underline,
.sort-container label:focus + .underline {
  border-bottom-style: solid;
}

.sort-container input[type="radio"]:checked + label {
  opacity: 1;
  color: #ee3643;
}

.sort-direction input[type="radio"]:checked ~ label {
  opacity: 1;
}

.sort-direction input[type="radio"]:checked ~ label path {
  fill: #ee3643;
}

.sort-container input[type="radio"]:checked ~ .underline {
  border: none;
}

.filter {
  text-transform: uppercase;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 21px;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 152px;
  height: 2px;

  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  bottom: 28px;
  left: 0;

  width: 20px;
  height: 22px;
  background-image: url("../img/filter-button.svg");
  cursor: auto;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 162px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 95px;
  height: 38px;

  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  border: none;
  border-radius: 5px;
  background-color: #f7f3ec;
}

.max-price {
  position: relative;
}

.max-price::before {
  content: "";

  position: absolute;
  top: 19px;
  left: -20px;
  width: 10px;
  height: 1px;
  background-color: #444444;
}

.filter hr{
  width: 220px;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 0;
  background-color: #e5e5e5;
  border: none;
}

.filter fieldset {
  border: none;
  font-size: 15px;
  line-height: 20px;
}

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter li {
  margin-top: 17px;
}

.filter-manufacturers input[type="checkbox"],
.filter-power input[type="radio"]{
  display: none;
}

.filter-manufacturers label,
.filter-power label {
  cursor: pointer;
}

.filter-manufacturers label::before,
.filter-power label::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 12px;
  vertical-align: middle;
  background-image: url("../img/checkbox-off.svg");
}

.filter-power label::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
}

.filter-manufacturers input:checked + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-power input:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filters input:disabled + label {
  opacity: 0.4;
}

.filters input:disabled + label::before {
  opacity: 0.75;
}

.filters input:checked:disabled + label {
  opacity: 0.4;
}

.filter-manufacturers input:checked:disabled + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.75;
}

.filter-power input:checked:disabled + label::before {
  background-image: url("../img/radio-on.svg");
  opacity: 0.75;
}

.catalog-list {
  list-style: none;
  text-align: center;
}

h3 {
  margin: 0;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 220px;
  min-height: 318px;
  border: 1px solid #e5e5e5;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item-name {
  margin-top: 183px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-item-image {
  position: relative;
}

.catalog-item-image img {
  position: absolute;
  right: 0;
  bottom: 52px;
  z-index: 1;
}

.catalog-buttons {
  position: absolute;
  bottom: 52px;
  margin: 0;
  width: 218px;
  height: 170px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  display: none;
}

.catalog-item:hover .catalog-buttons {
  z-index: 2;
  display: flex;
}

.old-price {
  margin-top: 18px;
  margin-bottom: 13px;
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}

.current-price {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 21px;
  margin-left: 43px;
  padding-top: 10px;
  width: 141px;
  min-height: 38px;
  background-color: #ee3643;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border-radius: 3px;
}

.angle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  border-top: 19px solid #ffffff;
  border-bottom: 19px solid #ffffff;
  border-left: 19px solid #ee3643;
}

.container {
  position: relative;
  width: 620px;
  box-sizing: border-box;
  background-color: #999999;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 39px;
  z-index: 100;

  width: 40px;
  height: 30px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 15px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  position: relative;
  display: none;
  height: 266px;
  padding: 25px;
  padding-right: 20px;
  box-sizing: border-box;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-image-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-image-2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item-1::before,
#product-2:checked ~ .slider-controls .slider-controls-item-2::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 6px;
  height: 6px;
  margin-top: -3px;
  margin-left: 2px;

  background-color: #ee3643;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 250px;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Cuprum", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-item p {
  max-width: 250px;
  margin: 0;
  margin-bottom: 124px;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
}

.container-catalog .section-title {
  background-color: #f2f6f8;
}

.section-title h2 {
  margin-left: 30px;
}

.manufacturers {
  list-style: none;
}

.manufacturers a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.manufacturers a:hover,
.manufacturers a:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  border: none;
}

.manufacturers a:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
  border: none;
}

.transport-companies {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.pagination {
  border: none;
}

.pagination ul {
  list-style: none;
  display: flex;
}

.pagination li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

.pagination .page-next {
  width: 140px;
}

.pagination div {
  position: absolute;
  width: inherit;
  height: inherit;

  border: solid 1px #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}

.pagination input[type="radio"] {
  display: none;
}

.pagination label {
  padding: 10px;
  line-height: 18px;
  text-transform: uppercase;
  z-index: 1;
  cursor: pointer;
}

.pagination label:hover + div,
.pagination label:focus + div {
  border-color: #bdc6ca;
}

.pagination label:active + div {
  border-color: #ee3643;
}

.pagination input:checked ~ div {
  border-color: #ee3643;
  background-color: #ee3643;
}

.pagination input:checked ~ label {
  color: #ffffff;
}

.main-footer {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation,
.section-navigation,
.footer-social{
  list-style: none;
}

.footer-navigation a{
 color: #f1f5f7;
}

.section-navigation a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.section-navigation a:hover,
.section-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active,
.section-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-footer p {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

p.address {
  color: #f3f7f9;
}

.main-footer p a {
  color: #ffd180;
}

.main-footer p a:hover,
.main-footer p a:focus {
  text-decoration: underline;
}

.main-footer p a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-blue {
  margin: 0;
  min-height: 300px;
  background-color: #32425c;;
}

.footer-dark {
  margin: 0;
  min-height: 107px;
  background-color: #293449;
}

.modal {
  width: 620px;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-map {
  width: 940px;
  height: 446px;
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
  background-color: #565656;
}

.modal-feedback {
  min-height: 430px;
}

.modal-feedback .form-content {
  min-height: 318px;
}

.modal-in-basket {
  min-height: 282px;
}

.modal-in-basket .form-content {
  min-height: 170px;
  text-align: center;
}

.form-content {
  border-top: 7px solid #ee3643;
  background-color: #ffffff;
}

.form-content label {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.form-content input {
  font-family: inherit;
  font-size: inherit;
  line-height: 18px;
  color: #999999;
  border: solid 2px #d7dcde;
}

.form-content input:hover {
  border-color: #b5b5b5;
}

.form-content input:focus,
.form-content input:active {
  border-color: #ee3643;
}

.half-width input {
  width: 220px;
  min-height: 38px;
}

.form-content textarea {
  width: 460px;
  min-height: 114px;
  resize: none;
}

.form-buttons {
  display: flex;
  width: 620px;
  height: 112px;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  border-style: none;
  border-radius: 3px;
}

.button:not(.button-filter):not(.button-catalog-buy):not(.button-catalog-bookmarks):not(.button-promo):hover,
.button:not(.button-filter):not(.button-catalog-buy):not(.button-catalog-bookmarks):not(.button-promo):focus {
  background-color: #ca2c37;
}

.button:not(.button-filter):not(.button-catalog-buy):not(.button-catalog-bookmarks):not(.button-promo):active {
  background-color: #ba2732;
}

.button-company {
  width: 220px;
}

.button-contacts {
  width: 300px;
}

.button-feedback {
  width: 460px;
}

.button-basket-order {
  width: 220px;
  margin-right: 10px;
}

.button-basket-buy {
  width: 220px;
  background-color: #ffffff;
  color: #000000;
  margin-left: 10px;
}

.button-filter {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 140px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  color: #000000;
}

.button-catalog-buy {
  margin-bottom: 7px;
  width: 135px;
  box-shadow: inset 0 -3px 0 0 #367315;
  background-color: #63a63e;
}

.button-catalog-buy:hover,
.button-catalog-buy:focus {
  background-color: #5fbb2d;
}

.button-catalog-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.button-catalog-bookmarks {
  width: 135px;
  border: solid 3px #63a63e;
  background-color: #ffffff;
  color: #32425c;
}

.button-catalog-bookmarks:hover,
.button-catalog-bookmarks:focus {
  border-color: #32425c;
}

.button-catalog-bookmarks:active {
  opacity: 0.3;
}

.button-promo {
  margin-top: 0;
  margin-bottom: 22px;
  margin-left: 25px;
  width: 135px;
  height: 38px;
  opacity: 0.1;
  background-color: #000000;
}

.sections a:hover + .button-promo,
.sections a:focus + .button-promo {
  opacity: 0.2;
}

.sections a:active + .button-promo {
  opacity: 0.3;
}

.button-popular {
  width: 253px;
  margin-right: 24px;
}

.button-slider-item {
  position: absolute;
  bottom: 25px;
  width: 195px;
}
